extends default

block header

block content
    div.news
        div.part1
            img.main_img(src=`/img/${oneNews.imgSrc}`)
            div.article
                h1 #{oneNews.title}
                h3 About
                p #{oneNews.about}
                h3 Origin
                p #{oneNews.origin}
        img.meme(src=`/img/${oneNews.memeImage}`)